@{
    ViewData["Title"] = "Potwierdzenie adresu e-mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Desktop{<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
Na adres @ViewBag.Email została wysłana wiadomość. Proszę potwierdzić ten adres, kilkając zawarty w niej link.
@section Scripts
    {
    <script>
        $(document).ready(function () {
            EmailConfirmation('@ViewBag.Email');
        });
    </script>
}