@model TicTacToe.Models.InvitationEmailModel
@{
    ViewData["Title"] = "Widok";
    Layout = "_LayoutEmail";
}
<h1>Witaj, @Model.DisplayName</h1>
@($"{Model.InvitedBy.FirstName} {Model.InvitedBy.LastName}") zaprasza Cię do gry Kółko i krzyżyk.
Proszę kliknąć <a href="@Model.ConfirmationUrl">tutaj</a>, aby dołączyć do gry.