@model TicTacToe.Models.TwoFactorEmailModel
@{
    ViewData["Title"] = "Widok";
    Layout = "_LayoutEmail";
}
<h1>Witaj, @Model.DisplayName</h1>
Chcesz otrzymać kod zabezpieczający? Aby kontynuować, kliknij <a href="@Model.ActionUrl">tutaj</a>.