
@model TicTacToe.Models.UserRegistrationEmailModel
@{
    ViewData["Title"] = "Widok";
    Layout = "_LayoutEmail";
}
<h1>Witaj, @Model.DisplayName</h1>
Dziękujemy za rejestrację na naszej stronie. Proszę kliknąć <a href="@Model.ActionUrl">tutaj</a>, aby potwierdzić adres e-mail.