@model TicTacToe.Models.ResetPasswordEmailModel
@{
    ViewData["Title"] = "Wysyłanie resetowania hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Desktop{<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<h1>@Localizer["Chcesz zresetować hasło. Na adres {0} została wysłana wiadomość e-mail. Aby kontynuować, kliknij link.", Model.Email]</h1>