@model TicTacToe.Models.ResetPasswordEmailModel
@{
    ViewData["Title"] = "Widok";
    Layout = "_LayoutEmail";
}
<h1>Witaj, @Model.DisplayName</h1>
Chcesz zresetować hasło? Aby kontynuować, kliknij <a href="@Model.ActionUrl">tutaj</a>.