@model TicTacToe.Models.ResetPasswordEmailModel
@{
    ViewData["Title"] = "Potwierdzenie żądania zresetowania hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Desktop{<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<h1>@Localizer["Chcesz zresetować hasło. Wiadomość e-mail została wysłana na adres {0}. Aby kontynuować, kliknij zawarty w niej link.", Model.Email]</h1>