@{
	ViewData["Title"] = "Strona główna";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
		@section Desktop {<h2>@Localizer["DesktopTitle"]</h2>}
		@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
        <div class="alert alert-info">
            <p>Kółko i krzyżyk jest grą turową dla dwóch osób.</p>
            <p>Dwóch graczy wybiera, kto będzie grał krzyżykami, a kto kółkami. Następnie na przemian oznaczają po jednym polu siatki 3×3.</p>
            <p>Wygrywa gracz, który zdoła umieścić trzy swoje znaki w linii pionowej, poziomej lub na ukos.</p>
        </div>
        <p>
            <h3>Zarejestruj się <a asp-controller="UserRegistration" asp-view="Index">tutaj</a></h3>
        </p>
    </div>
</div>