@{
    ViewData["Title"] = "Zabezpieczona strona";
}
@section Desktop {<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.SecureWord aplikacji Kółko i krzyżyk</h2>
    </div>
</div>